@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary: rgb(245, 245, 245);
    --secondary: rgb(234, 242, 253);
    --tertiary: rgb(70, 70, 70);
    --quaternary: rgb(42, 122, 228);
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    color: var(--tertiary);
    background: var(--primary);
}

/* NAV-BAR */

header {
    padding: 40px 0;
    margin: 0 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu-button {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 10;
    background: rgba(151, 151, 151, 0.503);
    backdrop-filter: blur(1px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.5s;
    text-transform: uppercase;
}

.sidebar ul {
    margin-top: 0;
    width: 100%;
    padding-inline-start: 0px;

}

.sidebar a {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
}


nav ul.list-sidebar {
    gap: 0;
}

.list-sidebar {
    display: flex;
    flex-direction: column;
}

.list-sidebar li {
    width: 100%;
}

nav .nav-link:hover {
    color: var(--quaternary);
}

.sidebar a:hover {
    background: rgba(110, 110, 110, 0.503);
    color: var(--primary);
}

nav .nav-link {
    transition: all 0.3s;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* BIENVENIDA */

section.bienvenida {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.container-bienvenida {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
    margin: 0 80px;
    gap: 20px;
}

.texto-bienvenida h1 {
    font-size: 70px;
}

.texto-bienvenida p {
    font-size: 35px;
    padding-bottom: 20px;
}

.texto-bienvenida ul {
    display: flex;
    padding: 0;
    gap: 40px;
    font-size: 20px;
}

.texto-bienvenida ul li a {
    display: flex;
    align-items: center;
}

.container-bienvenida img {
    max-height: 350px;
    border-radius: 50%;
}

/* SOBRE MI */

section.sobre-mi {
    min-height: 500px;
    background: var(--secondary);
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.container-sobre-mi {
    width: 1000px;
    margin: 0 80px;
    margin-bottom: 50px;
}

.container-sobre-mi h2 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 60px;
    text-align: start;
}

.container-skills h2, .container-hobbies h2, .container-formacion-academica h2, .container-proyectos h2 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 60px;
    text-align: center;
}   

.container-sobre-mi p {
    font-size: 25px;
}

/* SKILLS */

section.skills {
    max-height: 2200px;
}

.container-skills {
    max-height: 2200px;
    margin: 0 80px;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

section.lenguajes {
    max-height: 2200px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

article.card-lenguaje {
    height: 240px;
    min-width: 240px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    padding: 20px;
}

article.card-lenguaje i {
    font-size: 50px;
}

article.card-lenguaje h3 {
    font-size: 23px;
}

/* HOBBIES */

section.hobbies {
    max-height: 1000px;
    min-height: 500px;
}

.container-hobbies {
    max-height: 1000px;
    margin: 0 80px;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.hobbie {
    max-height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

article.card-hobbie {
    height: 240px;
    min-width: 240px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
}

article.card-hobbie i {
    font-size: 40px;
}

article.card-hobbie h3 {
    font-size: 23px;
}

/* FORMACION */

section.formacion {
    min-height: 500px;
    max-height: 1500px;
    background: var(--secondary);
}

.container-formacion-academica {
    max-height: 1200px;
    margin: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.formaciones {
    max-height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
    padding-bottom: 60px;
}

article.card-formacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

article.card-formacion img {
    height: 200px;
}

.imagen-card-formacion {
    max-width: 300px;
    min-width: 300px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.texto-card-formacion h3 {
    font-size: 25px;
}

.texto-card-formacion p {
    font-size: 20px;
}

/* PROYECTOS */

section.proyectos {
    min-height: 500px;
    padding-bottom: 20px;
}

.container-proyectos {
    min-height: 500px;
    margin: 0 80px;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.proyecto {
    width: 100%;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.imagen-proyecto {
    max-width: 700px; /* Asegura que el contenedor no sea más ancho que el 100% del tamaño del contenedor padre */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción original de la imagen */
    display: block; /* Elimina espacio adicional debajo de la imagen */
}

.imagen-proyecto img {
    max-width: 100%; /* Asegura que la imagen no sea más ancha que el contenedor padre */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción original de la imagen */
    display: block; /* Elimina espacio adicional debajo de la imagen */ 
    border: 0.5px solid var(--quaternary);
}

.texto-proyecto h3 {
    font-size: 25px;
}

.texto-proyecto p {
    font-size: 20px;
}

.botones-proyecto {
    height: 70px;
    display: flex;
    align-items: center;
}

.botones-proyecto a:nth-child(1) {
    padding: 18px;
    border: 2px solid var(--quaternary);
    background: var(--primary);
    color: var(--quaternary);
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
}

.botones-proyecto  a:nth-child(1) {
    padding: 18px;
    border: 2px solid var(--quaternary);
    background: var(--primary);
    color: var(--quaternary);
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
}

.botones-proyecto  a:nth-child(1):hover {
    background: var(--quaternary);
    color: var(--primary);
}

.botones-proyecto  a:nth-child(2) {
    padding: 20px;
    border: none;
    background: var(--quaternary);
    color: var(--primary);
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
    width: 120.98px;
    text-align: center;
}

.botones-proyecto  a:nth-child(2):hover {
    background: var(--tertiary);
}

/* CONTACTO */

section.contacto {
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-contacto {
    min-height: 600px;
    margin: 0 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.imagen-contacto {
    max-width: 700px; /* Asegura que el contenedor no sea más ancho que el 100% del tamaño del contenedor padre */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción original de la imagen */
    display: block; /* Elimina espacio adicional debajo de la imagen */
    margin: 0 auto;
}

.imagen-contacto img {
    max-width: 100%; /* Asegura que la imagen no sea más ancha que el contenedor padre */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción original de la imagen */
    display: block; /* Elimina espacio adicional debajo de la imagen */
    margin: 0 auto; 
    border: 0.5px solid var(--quaternary);
}

.imagen-contacto img {
    height: 500px;
}

.formulario-contacto {
    min-height: 500px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
}

.container-contacto h2 {
    font-size: 30px;
}

input {
    width: 100%;
    padding: 10px;
}

.formulario-contacto form label:nth-child(4) input {
    height: 100px;
}

form {
    width: 100%;
}

.formulario-contacto h3 {
    font-size: 25px;
}

.formulario-contacto p {
    font-size: 20px;
    padding-bottom: 20px;
}

.formulario-contacto form button {
    margin-top: 23px;
    padding: 18px;
    font-size: 16px;
    border: none;
    background: var(--quaternary);
    color: var(--primary);
    transition: all 0.3s;
    cursor: pointer;
}

form button:hover {
    background: var(--tertiary);
}

/* FOOTER */

footer {
    height: 200px;
    background: var(--tertiary);
}

.redes {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;
}

.redes a i {
    color: var(--primary);
    font-size: 40px;
    transition: all 0.3s;
}

.redes a i:hover {
    color: var(--quaternary);
    font-size: 40px;
}

footer p {
    text-align: center;
    color: var(--primary);
}

/* MEDIA QUERIES */

@media (max-width: 1120px) {

    .imagen-contacto img {
        display: none;
    }

    .formulario-contacto form button {
        width: 100%;
    }
}



@media (max-width: 950px) {

    .menu-button {
        display: block;
    }

    .hideOnMobile {
        display: none;
    }

    .container-bienvenida {
        justify-content: center;
        flex-direction: column-reverse;
    }

    .container-bienvenida img {
        align-self: flex-start;
        max-height: 200px;
    }



    /* PROYECTOS */

    .proyecto {
        display: flex;
        flex-direction: column;
    }

    .texto-proyecto {
        text-align: center;
    }

    .imagen-proyecto img {
        min-width: 300px;
    }

    .imagen-contacto img {
        min-width: 300px;
    }

    /* CONTACTO */

    .container-contacto {
        flex-direction: column;
    }

}



@media (max-width: 600px) {
        .container-bienvenida, .container-contacto, .container-formacion-academica, .container-hobbies, .container-proyectos, .container-skills, .container-sobre-mi {
        margin: 0 30px;
    }

    header {
        margin: 0 30px;
    }
}



@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }

    .texto-bienvenida ul {
        gap: 10px;
    }
    
} 