---

---

<section
  class="w-full max-w-[1000px] px-5 py-20 self-center flex flex-col lg:flex-row gap-10 items-center justify-center mt-[50px] sm:mt-[82px]"
>
  <div>
    <!-- <h1 class="text-center lg:text-start text-5xl sm:text-7xl font-bold titulo  bg-gradient-to-b from-[#3b5fff] to-[#af01ff]">Marco Silvera</h1> -->
    <h1 class="text-center lg:text-start text-5xl sm:text-7xl font-bold titulo bg-gradient-to-b from-[#3b5fff] to-[#af01ff] bg-clip-text text-transparent">Marco Silvera</h1>
    <p class="text-center lg:text-start text-base sm:text-lg lg:text-xl xl:text-[22px] ml-[1px] italic font-semibold text-[#222222]">
      Desarrollador Frontend | Egresado de Ingeniería Informática
    </p>
    <p class="text-base sm:text-lg xl:text-xl mt-5 text-pretty">
      Construyendo experiencias web rápidas y atractivas con tecnologías
      modernas.
    </p>
    <div class="flex gap-5 mt-5">
      <a class="contact flex items-center justify-center w-32 h-10 rounded-lg" href="mailto:msilveradev@gmail.com">Contáctame</a>
      <a
        class="rounded-lg relative w-44 h-10 cursor-pointer flex items-center border-2 border-red-500 bg-white group  active:bg-red-500 active:border-red-500 overflow-hidden"
      >
        <span
          class="font-semibold ml-5 transform transition-all duration-300"
          >Descargar CV</span
        >
        <span
          class="absolute right-0 h-full w-10 rounded-md bg-red-500 flex items-center justify-center transform group-hover:translate-x-0 group-hover:w-full transition-all duration-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            height="24px"
            width="24px"
          >
            <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              id="SVGRepo_tracerCarrier"></g>
            <g id="SVGRepo_iconCarrier">
              <g id="Interface / Download">
                <path
                  stroke-linejoin="round"
                  stroke-linecap="round"
                  stroke-width="2"
                  stroke="#f1f1f1"
                  d="M6 21H18M12 3V17M12 17L17 12M12 17L7 12"
                  id="Vector"></path>
              </g>
            </g>
          </svg>
        </span>
      </a>
    </div>
  </div>
  <img
    src="./Web developer avatar.webp"
    alt="Avatar"
    class="object-cover rounded-full overflow-hidden w-52 xl:w-80"
  />
</section>



<style>

  /* .titulo {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  } */

.contact {
  --color: #560bad;
  line-height: 2.5em;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 16px;
  font-weight: 500;
  color: var(--color);
  text-align: center;
}

.contact:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.contact:hover {
  color: #fff;
}

.contact:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.contact:hover:before {
  top: -30px;
  left: -30px;
}

.contact:active:before {
  background: #3a0ca3;
  transition: background 0s;
}

</style>