.body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
  gap: 30px;

  .body a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }

  .pbody {
    margin: 0px;
    display: flex;
    overflow: hidden;
    font-size: 32px;
    font-weight: 300;
  }
}

@media only screen and (min-width: 1024px) {
  .body {
    max-width: 1440px;
    margin-top: 80px;
    margin-bottom: 40px;
    justify-content: start;
    gap: 50px;

    .pbody {
      font-size: 3vw;
    }
  }
}
