---

---

<section
    id="sobre-mi"
    class="sectionAbout w-full max-w-[1000px] self-center text-[#212121] flex flex-col gap-5 md:gap-10 px-5 py-10 sm:py-24 scroll-mt-[62px]"
>
    <div
        class="px-5 py-10 border border-[#575861] bg-[#0F1014] rounded-lg shadow-md flex flex-col gap-5 items-center"
    >
        <h2
            class="text-xl md:text-2xl lg:text-4xl w-fit bg-gradient-to-r from-[#9898A6] to-[#fdfdfe] text-transparent bg-clip-text uppercase font-normal tracking-[.96px]"
        >
            Sobre mi
        </h2>
        <img
            src="./images/Programador-about-me.webp"
            class="aspect-video w-[400px] md:w-[650px] h-[100px] md:h-[200px] object-cover rounded-lg opacity-90"
            alt="Foto 'Sobre mi'"
            loading="lazy"
        />
        <section
            class="flex flex-col gap-10 w-full max-w-[400px] md:max-w-[650px] self-center"
        >
            <p
                class="text-base md:text-lg text-pretty text-[#fdfdfe] text-center"
            >
                Egresado de Ingeniería Informática con 9 meses de experiencia en
                desarrollo web y SEO. He optimizado proyectos React y
                JavaScript, logrando una mejora de rendimiento de 23,4%. Mi
                enfoque es mejorar la experiencia de usuario a través de la
                optimización y la innovación continua.
            </p>
            <section class="grid grid-cols-1 md:grid-cols-3 gap-5">
                <article class="flex flex-col gap-3 items-center">
                    <svg
                        class="h-10"
                        fill="#C58FFF"
                        viewBox="0 0 1024 1024"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            d="M197.769 791.767l60.672-286.853c2.341-11.066-4.733-21.934-15.799-24.275s-21.934 4.733-24.275 15.799l-60.672 286.853c-2.341 11.066 4.733 21.934 15.799 24.275s21.934-4.733 24.275-15.799zm571.063-286.786l61.778 287.068c2.38 11.058 13.273 18.093 24.33 15.713s18.093-13.273 15.713-24.33l-61.778-287.068c-2.38-11.058-13.273-18.093-24.33-15.713s-18.093 13.273-15.713 24.33z"
                        ></path><path
                            d="M967.45 386.902L535.9 208.126c-10.609-4.399-30.569-4.442-41.207-.088L57.821 386.901l436.881 178.857c10.624 4.355 30.583 4.313 41.207-.085L967.45 386.901zM551.583 603.516c-20.609 8.533-51.787 8.599-72.409.145L24.437 417.494c-32.587-13.359-32.587-47.847.009-61.188l454.73-186.174c20.641-8.448 51.818-8.382 72.407.156l448.836 185.936c32.466 13.442 32.466 47.913.004 61.354l-448.84 185.938zm288.673 166.569c-98 57.565-209.669 88.356-325.888 88.356-116.363 0-228.162-30.866-326.246-88.564-9.749-5.735-22.301-2.481-28.036 7.268s-2.481 22.301 7.268 28.036c104.336 61.377 223.297 94.22 347.014 94.22 123.564 0 242.386-32.763 346.634-93.998 9.753-5.729 13.015-18.279 7.286-28.032s-18.279-13.015-28.032-7.286z"
                        ></path><path
                            d="M983.919 383.052v296.233c0 11.311 9.169 20.48 20.48 20.48s20.48-9.169 20.48-20.48V383.052c0-11.311-9.169-20.48-20.48-20.48s-20.48 9.169-20.48 20.48z"
                        ></path></svg
                    >
                    <h3 class="text-white text-lg">Formación</h3>
                    <p class="text-base text-[#9898A6]">
                        Ingeniería Informática
                    </p>
                </article>
                <article class="flex flex-col gap-3 items-center">
                    <svg
                        class="h-10"
                        fill="#F58EE0"
                        viewBox="0 0 30 30"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            d="M19.498 7c-.182 0-.35.1-.437.26l-8.987 15.988c-.328.58.542 1.072.87.492L19.93 7.75c.196-.332-.045-.75-.432-.75zm3.03 2c.112.006.22.05.304.125l6.994 5.996c.232.2.232.56 0 .76l-6.994 5.995c-.48.43-1.14-.352-.652-.757l6.554-5.618-6.554-5.618c-.368-.308-.132-.882.348-.882zM7.472 9c-.112.006-.22.05-.304.125L.174 15.12c-.232.2-.232.56 0 .76l6.994 5.995c.48.43 1.14-.352.652-.757L1.266 15.5 7.82 9.882C8.188 9.574 7.952 9 7.472 9z"
                        ></path></svg
                    >
                    <h3 class="text-white text-lg">Experiencia</h3>
                    <p class="text-base text-[#9898A6]">
                        9 Meses en desarrollo web
                    </p>
                </article>
                <article class="flex flex-col gap-3 items-center">
                    <svg
                        class="h-10"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill="#FFBB88"
                            d="M8.19546398,0 C12.7216937,0 16.390928,3.61950128 16.390928,8.08438239 C16.390928,10.0960164 15.6461041,11.9360453 14.4136555,13.3507563 L19.8015213,18.8243429 C20.0717775,19.0989162 20.0652194,19.5376183 19.7868733,19.8042115 C19.5085273,20.0708046 19.0637973,20.0643354 18.7935411,19.7897621 L13.4110382,14.3206504 C11.9940161,15.4751548 10.1768537,16.1687648 8.19546398,16.1687648 C3.6692342,16.1687648 0,12.5492635 0,8.08438239 C0,3.61950128 3.6692342,0 8.19546398,0 Z M8.19546398,1.38589412 C4.44515931,1.38589412 1.40493668,4.38490947 1.40493668,8.08438239 C1.40493668,11.7838553 4.44515931,14.7828707 8.19546398,14.7828707 C11.9457686,14.7828707 14.9859913,11.7838553 14.9859913,8.08438239 C14.9859913,4.38490947 11.9457686,1.38589412 8.19546398,1.38589412 Z"
                        ></path>
                    </svg>
                    <h3 class="text-white text-lg">Especialidad</h3>
                    <p class="text-base text-[#9898A6]">Desarrollo web y SEO</p>
                </article>
            </section>
        </section>
    </div>
</section>

<script>
    import ScrollReveal from "scrollreveal";

    document.addEventListener("DOMContentLoaded", function () {
        ScrollReveal().reveal(".sectionAbout", {
            duration: 1000,
            origin: "top",
            distance: "100px",
        });
    });
</script>
