---

---

<section class=" w-full max-w-[1200px] self-center text-[#212121] flex flex-col gap-10 md:gap-20 p-5">
  <h2 class="text-3xl md:text-5xl lg:text-6xl font-bold">Experiencia laboral</h2>
  <article class="flex flex-col gap-0 sm:gap-5 rounded-lg bg-white overflow-hidden">
    <header class="flex flex-col text-white bg-[#212121] p-5">
      <h3 class="text-lg sm:text-xl md:text-2xl font-normal">
        Practicante de Desarrollo web y SEO
      </h3>
      <div class="flex flex-col mt-3 sm:flex-row sm:justify-between items-start sm:items-center">
        <h3 class="text-sm sm:text-base md:text-lg">Pachamama Turismos Responsabe</h3>
        <p class="text-xs md:text-sm font-medium">Dic 2023 - Sep 2024</p>
      </div>
      </header>
    <div class="flex gap-5 p-5 ">
      <section class="flex flex-col gap-3 text-base">
        <p class="text-xs sm:text-sm lg:text-base text-pretty">
          Agencia de turismo alternativo comprometida con el desarrollo
          sostenible, la promoción de experiencias responsables y el respeto por
          las culturas locales. Tiene como público objetivo viajeros europeos,
          especialmente franceses, interesados en explorar de manera ética y
          auténtica.
        </p>
        <h5 class="text-sm sm:text-base lg:text-lg font-medium">Funciones:</h5>

        <ul class="space-y-4 text-left text-gray-800 text-pretty text-xs sm:text-sm lg:text-base">
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              class="flex-shrink-0 w-3.5 h-3.5 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"></path>
            </svg>
            <span
              >Realizar la <span
                class="font-semibold text-gray-900"
              >
                búsqueda de palabras clave
              </span> tanto en Español como Francés.</span
            >
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              class="flex-shrink-0 w-3.5 h-3.5 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"></path>
            </svg>
            <span
              ><span class="font-semibold text-gray-900">
                Optimizar
              </span> el contenido para <span
                class="font-semibold text-gray-900"
              >
                SEO.
              </span></span
            >
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              class="flex-shrink-0 w-3.5 h-3.5 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"></path>
            </svg>
            <span>
              Diseñar y desarrollar un sitio web responsive con
              <span class="font-semibold text-gray-900">
                HTML semántico.
              </span>
            </span>
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              class="flex-shrink-0 w-3.5 h-3.5 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"></path>
            </svg>
            <span>
              <span class="font-semibold text-gray-900">
                Elaborar Wireframes y prototipos
              </span> en Figma de la web tanto como la versión de escritorio y móvil.</span
            >
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              class="flex-shrink-0 w-3.5 h-3.5 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"></path>
            </svg>
            <span
              >Implementar <span
                class="font-semibold text-gray-900"
              >
                formularios de contacto.
              </span></span
            >
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              class="flex-shrink-0 w-3.5 h-3.5 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"></path>
            </svg>
            <span
              ><span class="font-semibold text-gray-900">
                Automatizar la gestión de contenido
              </span> mediante archivos JSON.</span
            >
          </li>
          <li class="flex items-center space-x-3 rtl:space-x-reverse">
            <svg
              class="flex-shrink-0 w-3.5 h-3.5 text-green-500"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"></path>
            </svg>
            <span
              ><span class="font-semibold text-gray-900">
                Optimizar el rendimiento
              </span> de la web, obteniendo una <span
                class="font-semibold text-gray-900"
              >
                mejora del 23.4%.
              </span></span
            >
          </li>
        </ul>
      </section>
      <img class="w-96 rounded-lg hidden lg:block" src="Nosotros.webp" alt="Foto de Pachamama Turismo" />
    </div>
  </article>
</section>
