---

---

<section
  class="w-full max-w-[1000px] self-center text-[#212121] flex flex-col gap-5 md:gap-10 px-5 py-24"
>
  <h2 class="titulo text-xl md:text-2xl lg:text-4xl font-bold w-fit">
    Experiencia laboral
  </h2>
  <article
    class="flex flex-col gap-0 sm:gap-5 rounded-lg bg-white overflow-hidden"
  >
    <header
      class="flex flex-col text-white bg-[#226428] bg-gradient-to-t from-[#226428] to-[#10961c] p-5"
    >
      <h3 class="text-base sm:text-xl md:text-2xl font-semibold">
        Practicante de Desarrollo web y SEO
      </h3>
      <div
        class="flex flex-col mt-3 sm:flex-row sm:justify-between items-start sm:items-center"
      >
        <h3 class="text-sm sm:text-base md:text-lg">
          Pachamama Turismos Responsabe
        </h3>
        <p class="text-xs md:text-sm font-light">Dic 2023 - Sep 2024</p>
      </div>
    </header>
    <div class="flex gap-5 p-5">
      <section class="flex flex-col gap-3 text-base">
        <p class="text-xs sm:text-sm lg:text-base text-pretty">
          Agencia de turismo alternativo enfocada en el desarrollo sostenible,
          dirigida a viajeros europeos, especialmente franceses, que buscan
          explorar de manera auténtica y ética.
        </p>
        <h5 class="text-sm sm:text-base lg:text-lg font-medium">Funciones:</h5>

        <ul
          class="space-y-4 text-left text-gray-800 text-pretty text-xs sm:text-sm lg:text-base"
        >
          <li class="flex items-start space-x-3 rtl:space-x-reverse">
            <svg
              class="flex-shrink-0 w-[10px] h-[10px] sm:w-3.5 sm:h-3.5 text-green-500 mt-[2px] sm:mt-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"></path>
            </svg>
            <span
              >Realizar la <span class="font-semibold text-gray-900">
                búsqueda de palabras clave
              </span> tanto en Español como Francés.</span
            >
          </li>
          <li class="flex items-start space-x-3 rtl:space-x-reverse">
            <svg
              class="flex-shrink-0 w-[10px] h-[10px] sm:w-3.5 sm:h-3.5 text-green-500 mt-[2px] sm:mt-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"></path>
            </svg>
            <span
              ><span class="font-semibold text-gray-900"> Optimizar </span> el contenido
              para <span class="font-semibold text-gray-900"> SEO. </span></span
            >
          </li>
          <li class="flex items-start space-x-3 rtl:space-x-reverse">
            <svg
              class="flex-shrink-0 w-[10px] h-[10px] sm:w-3.5 sm:h-3.5 text-green-500 mt-[2px] sm:mt-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"></path>
            </svg>
            <span>
              Diseñar y desarrollar un sitio web responsive con
              <span class="font-semibold text-gray-900"> HTML semántico. </span>
            </span>
          </li>
          <li class="flex items-start space-x-3 rtl:space-x-reverse">
            <svg
              class="flex-shrink-0 w-[10px] h-[10px] sm:w-3.5 sm:h-3.5 text-green-500 mt-[2px] sm:mt-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"></path>
            </svg>
            <span>
              <span class="font-semibold text-gray-900">
                Elaborar Wireframes y prototipos
              </span> en Figma de la web tanto como la versión de escritorio y móvil.</span
            >
          </li>
          <li class="flex items-start space-x-3 rtl:space-x-reverse">
            <svg
              class="flex-shrink-0 w-[10px] h-[10px] sm:w-3.5 sm:h-3.5 text-green-500 mt-[2px] sm:mt-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"></path>
            </svg>
            <span
              >Implementar <span class="font-semibold text-gray-900">
                formularios de contacto.
              </span></span
            >
          </li>
          <li class="flex items-start space-x-3 rtl:space-x-reverse">
            <svg
              class="flex-shrink-0 w-[10px] h-[10px] sm:w-3.5 sm:h-3.5 text-green-500 mt-[2px] sm:mt-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"></path>
            </svg>
            <span
              ><span class="font-semibold text-gray-900">
                Automatizar la gestión de contenido
              </span> mediante archivos JSON.</span
            >
          </li>
          <li class="flex items-start space-x-3 rtl:space-x-reverse">
            <svg
              class="flex-shrink-0 w-[10px] h-[10px] sm:w-3.5 sm:h-3.5 text-green-500 mt-[2px] sm:mt-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"></path>
            </svg>
            <span
              ><span class="font-semibold text-gray-900">
                Optimizar el rendimiento
              </span> de la web, obteniendo una <span
                class="font-semibold text-gray-900"
              >
                mejora del 23.4%.
              </span></span
            >
          </li>
        </ul>
        <h5 class="text-sm sm:text-base lg:text-lg font-medium">
          Habilidades desarrolladas:
        </h5>
        <ul
          class="flex justify-center sm:justify-normal flex-wrap gap-3 sm:gap-5"
        >
          <li
            class="rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors border-transparent bg-[#F4F4F5]"
          >
            Astro
          </li>
          <li
            class="rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors border-transparent bg-[#F4F4F5]"
          >
            JavaScript
          </li>
          <li
            class="rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors border-transparent bg-[#F4F4F5]"
          >
            React
          </li>
          <li
            class="rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors border-transparent bg-[#F4F4F5]"
          >
            Tailwind
          </li>
          <li
            class="rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors border-transparent bg-[#F4F4F5]"
          >
            SEO
          </li>
        </ul>
      </section>
      <img
        class="w-96 rounded-lg hidden lg:block"
        src="Nosotros.webp"
        alt="Foto de Pachamama Turismo"
      />
    </div>
  </article>
</section>
