---

---

<section
    id="experiencia"
    class="sectionExperience w-full max-w-[1000px] self-center text-[#212121] flex flex-col gap-5 md:gap-10 px-5 py-10 sm:py-20 scroll-mt-[62px]"
>
    <h2
        class="titulo text-xl md:text-2xl lg:text-4xl w-fit bg-gradient-to-r from-[#9898A6] to-[#fdfdfe] text-transparent bg-clip-text uppercase font-normal tracking-[.96px]"
    >
        Experiencia laboral
    </h2>
    <article
        class="flex flex-col gap-0 rounded-lg border bg-[#0F1014] border-[#575861]"
    >
        <header class="flex flex-col text-white px-5 pt-5">
            <h3
                class="text-base sm:text-xl md:text-2xl font-semibold text-[#C58FFF]"
            >
                Practicante de Desarrollo web y SEO
            </h3>
            <div
                class="flex flex-col gap-2 sm:gap-0 mt-3 sm:flex-row sm:justify-between items-start sm:items-center"
            >
                <h3 class="text-sm sm:text-base md:text-xl text-[#FFBB88]">
                    Pachamama Turismos Responsabe
                </h3>
                <p class="text-xs md:text-xl font-light text-[#9898A6]">
                    Dic 2023 - Sep 2024
                </p>
            </div>
        </header>
        <div class="flex gap-5 p-5 text-[#FDFDFE]">
            <section class="flex flex-col gap-3 text-base">
                <p
                    class="text-xs sm:text-sm lg:text-base text-pretty text-[#9898A6]"
                >
                    Agencia de turismo alternativo enfocada en el desarrollo
                    sostenible, dirigida a viajeros europeos, especialmente
                    franceses, que buscan explorar de manera auténtica y ética.
                </p>
                <h4 class="text-sm sm:text-base lg:text-lg font-medium">
                    Funciones:
                </h4>

                <ul
                    class="space-y-4 text-left text-pretty text-xs sm:text-sm lg:text-base font-thin"
                >
                    <li class="flex items-start space-x-3 rtl:space-x-reverse">
                        <svg
                            class="flex-shrink-0 w-[10px] h-[10px] sm:w-3.5 sm:h-3.5 text-[#C58FFF] mt-[2px] sm:mt-1"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 16 12"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M1 5.917 5.724 10.5 15 1.5"></path>
                        </svg>
                        <span
                            >Realizar la <span class="font-medium">
                                búsqueda de palabras clave
                            </span> tanto en Español como Francés.</span
                        >
                    </li>
                    <li class="flex items-start space-x-3 rtl:space-x-reverse">
                        <svg
                            class="flex-shrink-0 w-[10px] h-[10px] sm:w-3.5 sm:h-3.5 text-[#C58FFF] mt-[2px] sm:mt-1"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 16 12"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M1 5.917 5.724 10.5 15 1.5"></path>
                        </svg>
                        <span
                            ><span class="font-medium"> Optimizar </span> el contenido
                            para <span class="font-medium"> SEO. </span></span
                        >
                    </li>
                    <li class="flex items-start space-x-3 rtl:space-x-reverse">
                        <svg
                            class="flex-shrink-0 w-[10px] h-[10px] sm:w-3.5 sm:h-3.5 text-[#C58FFF] mt-[2px] sm:mt-1"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 16 12"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M1 5.917 5.724 10.5 15 1.5"></path>
                        </svg>
                        <span>
                            Diseñar y desarrollar un sitio web responsive con
                            <span class="font-medium"> HTML semántico. </span>
                        </span>
                    </li>
                    <li class="flex items-start space-x-3 rtl:space-x-reverse">
                        <svg
                            class="flex-shrink-0 w-[10px] h-[10px] sm:w-3.5 sm:h-3.5 text-[#C58FFF] mt-[2px] sm:mt-1"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 16 12"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M1 5.917 5.724 10.5 15 1.5"></path>
                        </svg>
                        <span>
                            <span class="font-medium">
                                Elaborar Wireframes y prototipos
                            </span> en Figma de la web tanto como la versión de escritorio
                            y móvil.</span
                        >
                    </li>
                    <li class="flex items-start space-x-3 rtl:space-x-reverse">
                        <svg
                            class="flex-shrink-0 w-[10px] h-[10px] sm:w-3.5 sm:h-3.5 text-[#C58FFF] mt-[2px] sm:mt-1"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 16 12"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M1 5.917 5.724 10.5 15 1.5"></path>
                        </svg>
                        <span
                            >Implementar <span class="font-medium">
                                formularios de contacto.
                            </span></span
                        >
                    </li>
                    <li class="flex items-start space-x-3 rtl:space-x-reverse">
                        <svg
                            class="flex-shrink-0 w-[10px] h-[10px] sm:w-3.5 sm:h-3.5 text-[#C58FFF] mt-[2px] sm:mt-1"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 16 12"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M1 5.917 5.724 10.5 15 1.5"></path>
                        </svg>
                        <span
                            ><span class="font-medium">
                                Automatizar la gestión de contenido
                            </span> mediante archivos JSON.</span
                        >
                    </li>
                    <li class="flex items-start space-x-3 rtl:space-x-reverse">
                        <svg
                            class="flex-shrink-0 w-[10px] h-[10px] sm:w-3.5 sm:h-3.5 text-[#C58FFF] mt-[2px] sm:mt-1"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 16 12"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M1 5.917 5.724 10.5 15 1.5"></path>
                        </svg>
                        <span
                            ><span class="font-medium">
                                Optimizar el rendimiento
                            </span> de la web, obteniendo una <span
                                class="font-medium"
                            >
                                mejora del 23.4%.
                            </span></span
                        >
                    </li>
                </ul>
                <h4 class="text-sm sm:text-base lg:text-lg font-medium">
                    Habilidades desarrolladas:
                </h4>
                <ul
                    class="flex justify-center sm:justify-normal flex-wrap gap-3 sm:gap-5"
                >
                    <li
                        class="rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors border-transparent bg-[#575861]"
                    >
                        Astro
                    </li>
                    <li
                        class="rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors border-transparent bg-[#575861]"
                    >
                        JavaScript
                    </li>
                    <li
                        class="rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors border-transparent bg-[#575861]"
                    >
                        React
                    </li>
                    <li
                        class="rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors border-transparent bg-[#575861]"
                    >
                        Tailwind
                    </li>
                    <li
                        class="rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors border-transparent bg-[#575861]"
                    >
                        SEO
                    </li>
                </ul>
            </section>
            <img
                class="w-96 rounded-lg hidden lg:block"
                src="Nosotros.webp"
                alt="Foto de Pachamama Turismo"
                loading="lazy"
            />
        </div>
    </article>
</section>

<script>
    import ScrollReveal from "scrollreveal";

    document.addEventListener("DOMContentLoaded", function () {
        ScrollReveal().reveal(".sectionExperience", {
            duration: 1000,
            origin: "top",
            distance: "100px",
        });
    });
</script>
