---
const { title } = Astro.props;
import Footer from "../components/Footer/index";
import Header from "../components/Header";
import "../fonts/fonts.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/M.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col items-center bg-[#0F1014]">
    <!-- <div class="fixed inset-0 -z-10 h-full w-full bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)]"></div> -->
    <div
      class="fixed inset-0 -z-10 h-full w-full bg-gradient-to-t from-[#0F1014] to-[#111216]"
    >
    </div>
    <!-- <div class="fixed z-[-2] h-full w-full bg-neutral-500"><div class="absolute inset-0 bg-purple-500 bg-[size:20px_20px] opacity-20 blur-[100px]"></div></div> -->
    <!-- <div class="fixed inset-0 -z-10 h-full w-full bg-gray-500 [background:radial-gradient(125% 125% at 50% 10%, #ff0000 40%, #00ff00 70%, #0000ff 100%)]"></div> -->
    <!-- <div class="fixed top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255))]"></div> -->
    <Header client:load />
    <slot />
    <Footer />
  </body>
</html>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
</style>
